<div id="form">	   
    <div class="login">
         <div class="loginicon" id="user">        </div>			
         <div class="div_input">
             <input type="text" name="usuario"   placeholder="  Informe seu usuario..." id="inputuser" class="input" required>	
         </div>
     </div><!-- fecha div login usuario-->
     <div class="login">
         <div class="loginicon" id="pass">        </div>	
         <div class="div_input">
             <input type="password" name="senha" placeholder="  Informe sua senha..." id="inputpass" class="input" required>	
         </div>						
     </div><!-- fecha div login senha-->
     <div id="buttons">
            <app-rotative-buttons></app-rotative-buttons>
     </div>
     
     
     
     
     
     <!--
     <div id="div_submit">
             <input type="submit" value="ENTRAR" id="botao" >	
     </div>	
     <div id="text_cad">
         <b><br>  Primeira vez? <br>
             <a href="#">Cadastre-se agora gratuitamente</a>
         </b>
     </div>
 </div> --><!-- fecha div form-->