#div_meuPerfil{
    position: relative;
    border: 1px solid red;
    border-radius: 10px 20px 20px 10px;
    background-color: rgba(223, 219, 219);
    width: 10%;
    height: 25%;
    margin-left:85%;
    z-index: 1;
}

.div_meuPerfil_Option{
    width: 100%;
    height: 17%;
    margin-top: 2.5%;
    margin-left: 3%;
    overflow: hidden;
}

#div_meuPerfil_Option1{
    border-radius: 20px  30px  0px  0px;
}

.menuOption_name{
    border:1px solid purple;
    float: left;
    margin: 0%;
    width: 60%;
    height: 90% ;
    text-align: center;
}

.menuOption_note{
    border:1px solid blue;
    float: left;
    margin: 0%;
    width: 20%;
    height: 90% ;
    align-content: center;
}
