#conteudo{
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.7);
}

.div_tableLine{
    position: relative;
    width: 100%;
    height: 40px;
}

.cellTable{
    height: 90%;
    margin-top: 0.2%;
    margin-left: 0.2%;
    text-align: center;
    border-radius: 10px;
    position: relative;
    float: left;
    font-family: comic;
    font-size: 19px;
    line-height:40px;
    background-image: url("../../../../assets/images/backgroud-cellTable.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.div_celClock{
    width: 7%;
    margin-left: 5%;
}

.div_celTime{
    width: 12%;
}

.div_celUser{
    width: 32.5%;
    overflow: hidden;
}

.div_celLock{
    width: 7.5%;
}

.div_celEdit{
    width: 12%;
}

.div_celDel{
    width: 12%;
}

.div_celLock{
    width: 12%;
}