<div id="div_meuPerfil">
    <div class="div_meuPerfil_Option" id="div_meuPerfil_Option1">
        <div class="menuOption_name">                  Meu Perfil  </div>
        <div class="menuOption_note">                              </div>
    </div>
    <div class="div_meuPerfil_Option">
        <div class="menuOption_name">   Promoções   </div>
        <div class="menuOption_note">               </div>
    </div>
    <div class="div_meuPerfil_Option">
        <div class="menuOption_name">    Agendar    </div>
        <div class="menuOption_note">               </div>
    </div>
    <div class="div_meuPerfil_Option">
        <div class="menuOption_name"> Fale Conosco  </div>
        <div class="menuOption_note">               </div>
    </div>
    <div class="div_meuPerfil_Option">
        <div class="menuOption_name">   Sair        </div>
        <div class="menuOption_note">               </div>
    </div>
    
</div>