@font-face {
    font-family: comic;
    src: url('../../../assets/fonts/comic.ttf'); 
}

body{
    height: auto;
}

#div_PageBody{	
    border: 1px solid green;							  /*	div que compõe 100% da area da pagina */
    position: absolute;
    background-image: url("../../../assets/images/wallpaper_3.jpg");
    top:0;
    left:0;
    width: 100%;
    height: 150%;
    background-size:auto;
}

#conteudo{	                                                /*	div que compõe 100% da area de conteudo da pagina */
    border: 3px solid black;
    background-image: url("../../../assets/images/tatoo mulher.png");      
    background-repeat: no-repeat;    
    border-radius: 20px;							  
    position: relative;
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.6);
}