<div id="content">
    <div id="div_fotoPerfil">
        <div id="foto"></div>
    </div>
    <div id="options_box">
        <div id="upper">
            <div id="nome_tatuador">

            </div>
            <div id="icons_div">
                <div class="div_icon" id="div_messageIcon">

                </div>
                <div class="div_icon" id="div_calendarIcon">

                </div>
                <div class="div_SmallIcon" id="facebook" >  
                    <a href="#">
                        <input type="button" class="button_link" id="button_facebook">
                    </a>          
                </div>
                <div class="div_SmallIcon" id="instagram"> 
                    <a href="#">
                        <input type="button" class="button_link" id="button_instagram">
                    </a>
                </div>
                <div class="div_SmallIcon" id="twitter">
                    <a href="#">
                        <input type="button" class="button_link" id="button_twitter">
                    </a>
                </div>
                <div class="div_SmallIcon" id="whatsApp"> 
                    <a href="#">
                        <input type="button" class="button_link" id="button_whatsApp">
                    </a>
                </div>
            </div>            
        </div>  
        <div id="less">
            <a href="#" >
                <input type="button" class="menu_button"  id="button_sendMessage" value="Enviar Mensagem">
            </a>
            <a href="#" >
                <input type="button" class="menu_button" id="button_schedule" id=" " value="Agendar">
            </a>
            <a href="#" >
                <input type="button" class="menu_button"  id="button_pubs" value="Publicações">
            </a>
        </div>  
    </div>
</div>