        @font-face {
            font-family: comic;
            src: url('../../../assets/fonts/comic.ttf'); 
        }


#div_PageBody{	
    border: 1px solid green;							  /*	div que compõe 100% da area da pagina */
    background-image: url("../../../assets/images/wallpaper_3.jpg");
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size:auto;
}

#conteudo{	
    background-image: url("../../../assets/images/tatoo mulher.png");
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 20px;							  /*	div que compõe 100% da area da pagina */
    position: relative;
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    
}