
    <div id="upper">
        <a href="#">
            <div id="backButton">
                <div id="backIcon_div">
                    <img src="../../../../assets/images/icons/back.png" id="backIcon" alt="Botão para voltar à pagina anterior">
                </div>
                <div id="backText_div"> VOLTAR</div>
            </div>
        </a>
        <div id="titleDate_div">
            <div id="title_div"> AGENDA</div>
            <div id="blackBar_div"></div>
            <div id="date_div"></div>
        </div>
        <div id="calendar_div">
                    Escolha a data:<br>
            <input type="date" id="calendar" name="calendar">
        </div>
    </div>
    <div id="less">

    </div>
