
    <div id="upper">
        <a href="#">
            <div id="backButton">
                <div id="backIcon_div">
                    <img src="../../../../assets/images/icons/back.png" id="backIcon" alt="Botão para voltar à pagina anterior">
                </div>
                <div id="backText_div"> VOLTAR</div>
            </div>
        </a>
        <div id="titleDate_div">
            <div id="title_div"> AGENDA</div>
            <div id="blackBar_div"></div>
            <div id="date_div"></div>
        </div>
        <div id="calendar_div">
                    Escolha a data:<br>
            <input type="date" id="calendar" name="calendar">
        </div>
    </div>
    <div id="less">
        <div id="cabTab">
            <div class="div_celClock cellTable"></div>
            <div class="div_celTime  cellTable">     Horário    </div>
            <div class="div_celUser  cellTable">     Cliente    </div>
            <div class="div_celLock  cellTable">     Bloqueado  </div>
            <div class="div_celEdit  cellTable">     Editar     </div>
            <div class="div_celDel   cellTable">     Desmarcar    </div>
        
        </div>
        <div id="tab">
            <app-agenda-agendar> </app-agenda-agendar>
        </div>
    </div>
