<div id="tab">
    <div id="div_line">
        <div class="div_celClock cellTable">
            <img src="../../../../assets/images/icons/relogio.png" alt="imagem de relogio" class="table_icon">
        </div>
        <div class="div_celTime  cellTable"></div>
        <div class="div_celUser  cellTable"></div>
        <div class="div_celEdit  cellTable"> 
            <input type="button" class="button_option" id="editbtn" value="editar">  
        </div>
        <div class="div_celDel   cellTable">
            <input type="button" class="button_option" id="delbtn" value="excluir">  
        </div>
        <div class="div_celLock  cellTable">
            <img src="" alt="">
        </div>
    </div>
</div>