#div_form_login{
	position: relative;	
    overflow: hidden;
    background-color:rgb(255, 255, 255, 0.4);
    background-image: url('../../../../assets/images/logo_TropCool_op.png');
    background-size: 95% 95%;
    background-position: center 1%;
	background-repeat: no-repeat;
	box-shadow: 15px 15px 10px darkgrey;
	width: 36%;
	height: 78%;
	margin-top: 1%;
	margin-left: 31.5%;
	border-radius: 360px;
	border: 3px solid black;
}
