@font-face {
    font-family: comic;
    src: url('../../../../assets/fonts/comic.ttf'); 
  }

#form{
	margin-top: 48%;
	margin-left: 12.5%;
	width: 75%;
	height: 52%;
    border-radius: 30px;
    overflow: hidden;
}

.login{
    height: 17%;
    width: 81%;	
    margin-left: 9%;
    border-radius: 30px;
    margin-top: 1%;
}

.input_log{
    width: 50%;
}

.loginicon{	
	margin-left: 2%;
	width: 14%;
	height: 100%;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.6);	
}

#user{
    float: left;
    overflow: hidden;
    background-color:rgb(255, 255, 255, 0.6);
    background-image: url('../../../../assets/images/icons/user2.png');
    background-size: 100% 100%;
    background-position: center;
}

#pass{
	float: left;
    overflow: hidden;
    background-color:rgb(255, 255, 255, 0.5);
    background-image: url('../../../../assets/images/icons//lock.png');
    background-size: 100% 100%;
    background-position: center;
}

#icon{
	margin-left: 3px;
	width: 90%;
	height:100%;
}

.div_input{
	float: left;
	width: 80%;
	height: 80%;
	margin-top: 1%;
	margin-left: 2%;
	border-radius: 30px;
	box-shadow: 5px 5px 5px rgba(0,0,0.5,0.5);
}

.input{
	float: right;
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

#div_submit{
	width: 32%;
	height: 15%;
	margin-top: 2%;
	margin-left: 35%;
	border-radius: 30px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
	box-sizing: border-box;
	transition: all 500ms ease;
}

#botao{
	width: 100%;
	height: 100%;
    border-radius: 30px;
    font-family: comic;
    font-weight: bold;
    border: black solid 1px;
}

#text_cad{
    width: 70%;
    height: 50%;
    margin-top: 1%;
    margin-left: 15%;
    text-align: center;
    background-color:rgb(255, 255, 255, 0.4);
    font-family: comic;
}
a{   
    color: rgb(89, 52, 255);
    
}