#div_search_icon{
    float: left;
    margin-top: 0.5%;
    width: 10%;
    height:80%;  
    background-image: url("../../../../assets/images/icons/lupa.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

#div_search_bar{
    position: relative;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    width: 65%;
    height:80%;
}

#search{
    position: relative;
    float: left;
    width: 100%;
    height:90%;
    font-size: 26px;    
    border: none;
    border-radius: 90px;
    box-shadow: 6px 5px 10px grey;
}

#div_search_button{
    float: left;
    width: 20%;
    height: 70%;
    margin-left: 2%;
    margin-top: 1.5%;
}

#buttonSearch{
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 90px;box-shadow: 6px 5px 5px rgb(161, 159, 159);
}
