<div id="div_cabeçalho">
    <div id="div_logo">     
        <img src="../../../../assets/images/logo_TropCool_reduzido.png" id="logo">
    </div>
    <div id="div_search">   
        <app-search-bar></app-search-bar>
    </div>
    <div id="div_userIcon"> 
        <img src="../../../../assets/images/icons/user2.png" id="userIcon" name="userIcon">
    </div>
</div>

<!--
<div id="div_menus">
    <div class="menus">s
        <input type="button" id=""> 
    </div>
    <div class="menus">
        <input type="button" id=""> 
    </div>
    <div class="menus">
        <input type="button" id=""> 
    </div>
    <div class="menus">
        <input type="button" id=""> 
    </div>
    <div class="menus">
        <input type="button" id="">
    </div>
    <div class="menus">
        <input type="button" id="">
    </div>
</div>-->
    