<div id="div_buttons">
        <li>
            <a href="#" class="round green" id="greenButton">Logar
                <span class="round" >
                   Bem Vindo(a), de volta à <br> TropCool!
                </span>
            </a>
        </li>
        <li>
            <a href="#" class="round red"  id="redButton">
                Primeira Vez?
                <span class="round">
                   Cadastre-se agora Gratuitamente
                </span>
            </a>
        </li>
    </div>